---
import { cn } from "~/lib/utils";
import Discord from "../icons/discord.astro";
import GitHub from "../icons/github.astro";
---

<div class="flex space-x-4">
  <a
    href="/auth/github"
    class={cn(
      "inline-flex items-center gap-1.5 font-medium transition-colors",
      "underline decoration-neutral-400 decoration-1 underline-offset-4 hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-400",
    )}
  >
    <GitHub size={14} />
    sign in with github
  </a>
  <a
    href="/auth/discord"
    class={cn(
      "inline-flex items-center gap-1.5 font-medium transition-colors",
      "underline decoration-neutral-400 decoration-1 underline-offset-4 hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-400",
    )}
  >
    <Discord size={14} />
    sign in with discord
  </a>
</div>
