---
import Discord from "../icons/discord.astro";
import GitHub from "../icons/github.astro";
---

<div class="flex space-x-4">
  <sign-in provider="github">
    <button
      class="inline-flex items-center gap-1.5 font-medium underline decoration-neutral-400 decoration-1 underline-offset-4 dark:decoration-neutral-600"
    >
      <GitHub size={14} />
      sign in with github
    </button>
  </sign-in>
  <sign-in provider="discord">
    <button
      class="inline-flex items-center gap-1.5 font-medium underline decoration-neutral-400 decoration-1 underline-offset-4 dark:decoration-neutral-600"
    >
      <Discord size={14} />
      sign in with discord
    </button>
  </sign-in>
</div>

<script>
  class SignInButton extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      if (button) {
        button.addEventListener("click", this.handleSignIn.bind(this));
      }
    }

    async handleSignIn() {
      const { signIn } = await import("auth-astro/client");
      await signIn(this.getAttribute("provider") ?? "");
    }
  }

  customElements.define("sign-in", SignInButton);
</script>
