---
import Layout from "~/layouts/layout.astro";

export const prerender = true;
---

<Layout title="About">
  <h1 class="mb-5 font-serif text-3xl font-medium">about me</h1>
  <article class="prose prose-neutral dark:prose-invert">
    <p>
      lorem ipsum dolor sit amet consectetur adipisicing elit. obcaecati
      explicabo reiciendis quisquam, debitis aut dolorum praesentium porro, modi
      repudiandae voluptates architecto aspernatur fugit? Harum id minima ea
      fuga quia accusantium.
    </p>
    <p>
      lorem ipsum dolor sit amet consectetur adipisicing elit. obcaecati
      explicabo reiciendis quisquam, debitis aut dolorum praesentium porro, modi
      repudiandae voluptates architecto aspernatur fugit? Harum id minima ea
      fuga quia accusantium.
    </p>
  </article>
</Layout>
