---
import Form from "~/components/guestbook/form.astro";
import Messages from "~/components/guestbook/messages.astro";
import Spinner from "~/components/spinner.svelte";
import Layout from "~/layouts/layout.astro";

export const prerender = false;

const TITLE = "Guestbook";
const DESCRIPTION = "Sign my guestbook and leave your mark.";
---

<Layout title={TITLE} description={DESCRIPTION} className="space-y-6">
  <h1 class="font-serif text-3xl font-medium">{TITLE.toLowerCase()}</h1>
  <p class="prose prose-neutral dark:prose-invert">
    {DESCRIPTION.toLowerCase()}
  </p>
  <Form server:defer />
  <Messages server:defer>
    <p
      slot="fallback"
      class="inline-flex h-6 items-center gap-1 text-sm font-medium text-neutral-600 transition-colors dark:text-neutral-400"
    >
      working <Spinner client:load />
    </p>
  </Messages>
</Layout>
