---
import Layout from "~/layouts/layout.astro";

export const prerender = true;
---

<Layout title="Astro">
  <h1 class="font-serif text-3xl font-medium">nonthaphat chaisu</h1>
  <p class="prose prose-neutral dark:prose-invert">
    i&apos;m podter. i&apos;m a student and self-taught developer. i enjoy
    coding, and playing games in my free time. i&apos;m currently trying to
    manage my life to get into an university. i like adventure games, indie
    games, south park, and bluey.
  </p>
</Layout>
