---
import { getCollection } from "astro:content";
import { format } from "date-fns/format";

import MapPin from "~/components/icons/map-pin.astro";
import Lanyard from "~/components/lanyard.svelte";
import { PROJECTS } from "~/constants/projects";
import Layout from "~/layouts/layout.astro";
import { cn } from "~/lib/utils";

const posts = await getCollection("blog");
---

<Layout className="space-y-12">
  <section class="flex flex-col space-y-6">
    <h1 class="font-serif text-3xl font-medium">nonthaphat chaisu</h1>
    <div class="flex flex-col gap-2.5">
      <p
        class="inline-flex items-center gap-3 text-neutral-700 dark:text-neutral-300"
      >
        <MapPin size={20} /> thailand
      </p>
      <Lanyard client:load />
    </div>
    <p class="prose prose-neutral dark:prose-invert">
      i&apos;m podter. i&apos;m a student and self-taught developer. i enjoy
      coding and playing games in my free time. i&apos;m currently trying to
      manage my life to get into a university. i like adventure games, indie
      games, south park, and bluey.
    </p>
    <a
      href="/about"
      class={cn(
        "font-medium transition-colors",
        "underline decoration-neutral-400 decoration-1 underline-offset-4 hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-400",
      )}
    >
      about me →
    </a>
  </section>
  <section class="flex flex-col space-y-8">
    <h2 class="font-serif text-2xl font-medium">projects</h2>
    <div class="grid grid-cols-2 grid-rows-2 gap-6">
      {
        PROJECTS.filter(({ shortDescription }) => shortDescription).map(
          ({ title, url, sourceUrl, shortDescription }) => (
            <div class="prose prose-neutral h-full w-full space-y-3 dark:prose-invert">
              <a
                href={url ?? sourceUrl}
                class={cn(
                  "font-medium transition-colors",
                  "underline decoration-neutral-400 decoration-1 underline-offset-4 hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-400",
                )}
              >
                {title.toLowerCase()}
              </a>
              <p>{shortDescription}</p>
            </div>
          ),
        )
      }
    </div>
    <a
      href="/projects"
      class={cn(
        "font-medium transition-colors",
        "underline decoration-neutral-400 decoration-1 underline-offset-4 hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-400",
      )}
    >
      view all projects →
    </a>
  </section>
  <section class="flex flex-col space-y-8">
    <h2 class="font-serif text-2xl font-medium">writing</h2>
    <div class="flex flex-col space-y-6">
      {
        posts.slice(0, 3).map(({ data, slug }) => (
          <a href={`/blog/${slug}`} class="flex w-full justify-between">
            <p
              class={cn(
                "font-medium transition-colors",
                "underline decoration-neutral-400 decoration-1 underline-offset-4 hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-400",
              )}
            >
              {data.title.toLowerCase()}
            </p>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              {format(data.date, "d MMM, yyyy").toLowerCase()}
            </p>
          </a>
        ))
      }
    </div>
    <a
      href="/blog"
      class={cn(
        "font-medium transition-colors",
        "underline decoration-neutral-400 decoration-1 underline-offset-4 hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-400",
      )}
    >
      view all posts →
    </a>
  </section>
</Layout>
