---
import Layout from "~/layouts/layout.astro";

export const prerender = true;
---

<Layout title="Astro">
  <h1 class="font-serif text-3xl font-medium">astro</h1>
  <p class="prose prose-neutral dark:prose-invert mt-6">
    lorem ipsum dolor sit amet, consectetur adipisicing elit. corporis sed
    quisquam obcaecati atque totam ipsa rerum cupiditate. fugit eos dicta sit,
    consequuntur enim, sapiente tempora error aliquam maxime, ipsa deserunt.
  </p>
</Layout>
