---
import Layout from "~/layouts/layout.astro";

export const prerender = true;
---

<Layout title="Projects">
  <h1 class="font-serif text-3xl font-medium">projects</h1>
  <p class="prose prose-neutral dark:prose-invert">
    lorem ipsum dolor sit amet consectetur adipisicing elit. obcaecati explicabo
    reiciendis quisquam, debitis aut dolorum praesentium porro, modi repudiandae
    voluptates architecto aspernatur fugit? Harum id minima ea fuga quia
    accusantium.
  </p>
</Layout>
