---

---

<footer class="mt-12 text-sm text-neutral-600 dark:text-neutral-400">
  <hr
    class="mb-4 border-t border-dashed border-neutral-400 dark:border-neutral-600"
  />
  <div class="flex items-center justify-between">
    <span class="font-medium">podter._</span>
    <span class="font-medium">github / discord / x / email</span>
  </div>
</footer>
