---
import { cn } from "~/lib/utils";
import ThemeToggle from "./theme-toggle.astro";

const NAV_ITEMS = {
  "/": {
    name: "home",
  },
  "/projects": {
    name: "projects",
  },
  "/blog": {
    name: "blog",
  },
  "/guestbook": {
    name: "guestbook",
  },
};

const { pathname } = Astro.url;
---

<header class="-ml-2 mb-8 tracking-tight">
  <div class="flex items-center justify-between">
    <nav class="flex">
      {
        Object.entries(NAV_ITEMS).map(([path, { name }]) => {
          const isActive =
            pathname === path ||
            (pathname.startsWith(path) && pathname[path.length] === "/");
          return (
            <a
              href={path}
              class={cn(
                "flex px-2 py-1 align-middle transition-colors hover:text-neutral-800 dark:hover:text-neutral-200",
                isActive &&
                  "underline decoration-wavy decoration-1 underline-offset-4",
              )}
            >
              {name}
            </a>
          );
        })
      }
    </nav>
    <ThemeToggle />
  </div>
</header>
