---

---

<button
  class="-mr-2 flex h-8 w-8 items-center justify-center"
  id="toggle-theme"
>
  <svg
    class="h-3.5 w-3.5 fill-current"
    viewBox="0 0 14 14"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="7" cy="7" r="7"></circle>
  </svg>
  <span class="sr-only">Toggle theme</span>
</button>

<script>
  import type { Howl } from "howler";

  let switchOff: Howl;
  let switchOn: Howl;

  async function initHowl() {
    const { Howl } = (await import(
      // @ts-expect-error - howler is not typed
      "howler/dist/howler.core.min"
    )) as typeof import("howler");

    switchOff = new Howl({
      src: ["/sounds/switch-off.mp3"],
    });

    switchOn = new Howl({
      src: ["/sounds/switch-on.mp3"],
    });
  }

  async function playSwitchOff() {
    if (!switchOff) {
      await initHowl();
    }
    switchOff.play();
  }

  async function playSwitchOn() {
    if (!switchOn) {
      await initHowl();
    }
    switchOn.play();
  }

  document.addEventListener("astro:page-load", () => {
    const toggleThemeBtn = document.getElementById("toggle-theme");

    if (toggleThemeBtn) {
      toggleThemeBtn.addEventListener("mouseenter", () => {
        if (!switchOff || !switchOn) {
          initHowl();
        }
      });

      toggleThemeBtn.addEventListener("click", () => {
        const isDark = document.documentElement.classList.contains("dark");
        if (isDark) {
          document.documentElement.classList.remove("dark");
          playSwitchOn();
        } else {
          document.documentElement.classList.add("dark");
          playSwitchOff();
        }
      });
    }
  });

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (e) => {
      document.documentElement.classList[e.matches ? "add" : "remove"]("dark");
    });
</script>
